body {
  background-color: black;
}
 
.main {
  background-color: white;
  margin-top: 110px;
  min-width: 1200px;
  padding-left: 100px;
  height: 500px;
}
 
.hadouken, .ryu-ready, .ryu-still, .ryu-throwing, .ryu-cool {
  background-repeat: no-repeat;
} 
  
.hadouken {
  background-image: url('../images/hadouken.gif');
  width: 156px; 
  height: 90px;
  display: none;
  float: left;
  position: relative;
  top: 167px;
  left: -212px;
} 
 
.ryu {
  float: left;
  z-index: 9999;
}
 
.ryu-ready, .ryu-still, .ryu-throwing, .ryu-cool {
  width: 659px;
  height: 494px;
}
 
.ryu-ready, .ryu-throwing, .ryu-cool {
  display: none;
} 
 
.ryu-ready {
  background-image: url('../images/ryu-ready-position.gif');
}
 
.ryu-still {
  background-image: url('../images/ryu-standing-still.png');
}
 
.ryu-throwing {
  background-image: url('../images/ryu-throwing-hadouken.png');
}

.ryu-cool {
  background-image: url('../images/ryu-cool.gif');
}

.text {
  position: relative;
  font-family: cursive;
  font-size: 1.4em;
  width: 300px;
  height: 100px;
  top: -464px;
  left: 931px;
}

.text p {
  padding: 2.5em;
}

